svg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.node circle {
  fill: #F25600;
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: .5px;
}