#editor {
	height: 200px;
	overflow: hidden;
	position: relative;
}

#commands {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
}

#toolbar {
	position: absolute;
	top: 0;
	left: 120px;
}

#newmessage {
	outline: none;
	position: absolute;
	left: 120px;
	top: 30px;
	border: 1px solid #eee;
	height: 100px;
	width: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
}

#destinations {
	position: absolute;
	left: 120px;
	top: 150px;
}
#canvasimage {
	border: 1px dotted black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
}

#commands #counter {
	font-size:1.5em;
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: center;
	height: 40px;
}

#commands a {
	color: #fff;
	text-decoration: none;
}

#commands #send, #commands #cancel {
	background-color: #000;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	height: 30px;
	text-align: center;
}
#commands #send:hover, #commands #cancel:hover {
	background-color: #1F6B75;
}
#commands #send:active, #commands #cancel:active {
	background-color: #015965;
}

#toolbar button {
	font-size: 16px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	outline: none;
	color: #000;
	cursor: pointer;
	border: none;
}
#toolbar button:hover {
	background-color: #ddd;
}

#send2fb {
	-webkit-appearance: none;
	-webkit-filter: grayscale(100%);
}
#send2fb:hover, #send2tt:hover {
	-webkit-filter: grayscale(50%);
}

#send2tt {
	-webkit-appearance: none;
	-webkit-filter: grayscale(100%);
}

#send2fb, #send2tt {
	cursor: pointer;
}

#send2fb:checked, #send2tt:checked {
	-webkit-filter: grayscale(0%);
}

