#editor {
	height: 300px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	margin-top: 15px;
}

#commands {
	position: absolute;
	left: 0;
	top: 20px;
	width: 100px;
	/* background-color: #f2f2f2; */
	padding: 10px;
}

#toolbar {
	position: absolute;
	top: 0;
	left: 120px;
	/* padding: 2px; */
}

#newmessage-container {
	position: absolute;
	left: 120px;
	top: 30px;
	border: 1px solid #eee;
	height: 130px;
	width: 450px;
}
#newmessage {
	outline: none;
	height: 110px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
}

#newimage {
	margin: 5px;
	padding: 5px;
	border: 1px solid #eee;
	float: right;
	position: relative;
	display: none;
}
#newimage.loaded {
	display: block;
}
#newimage:before {
	display: block;
	position: absolute;
	font-size: 25px;
	top: -20px;
	right: 0;
	color: #f30;
	-webkit-transform: rotate(70deg);
	text-outline: 5px 5px #ffffff;
}

#canvasimage {
	max-width: 120px;
	max-height: 100px;
}

#removeimage {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	cursor: pointer;
	background-color: #fff;
	padding: 5px;
}

#removeimage:before {
	color: #f30;
	font-size: 20px;
	margin: 5px;
	cursor: pointer;
}

#newimage:hover #removeimage {
	display: block;
}
#newimage:hover canvas {
	opacity: .2;
}

#destinations {
	position: absolute;
	left: 120px;
	top: 170px;
	font-size: 12px;
}
#destinations:before {
	content: "Enviar a: "
;
	float: left;
	font-size: 15px;
}

.send2 {
	display: inline-block;
	width: 120px;
	border: 1px dotted #ccc;
	/* border-radius: 2px; */
	cursor: pointer;
	padding: 2px;
	position: relative;
	/* height: 20px; */
	margin-left: 5px;
	float: left;
}
.send2 ul {
	/* position: absolute; */
	left: 0;
	bottom: 10px;
	/* display: inline-block; */
	padding: 0;
	/* background-color: #eee; */
	max-height: 85px;
	overflow-y: scroll;
	margin: 0;
}
.send2 ul li {
	list-style: none;
	/* padding: 2px; */
	font-size: 12px;
	white-space: nowrap;
	border-top: 1px dotted #ccc;
	margin-top: 4px;
	background-color: #f30;
	color:  #fff;
}

.send2:hover {
	border: 1px solid #aaa;
	background-color: #eee;
}

#counter {
	font-size: 28px;
	font-weight: bold;
	border: 1px solid #eee;
	text-align: center;
	height: 50px;
	background-color: #fff;
	-webkit-transition: color .5s linear;
	   -moz-transition: color .5s linear;
	    -ms-transition: color .5s linear;
	     -o-transition: color .5s linear;
	        transition: color .5s linear;
}
#counter.warning1 {
	color: #ff7728;
}
#counter.warning2 {
	color: #ff1815;
}
#counter:after {
	font-weight: 200;
	content: "caracteres";
	font-size: 12px;
	display: block;
	color: #666;
}

#commands a {
	color: #fff;
	text-decoration: none;
}

#send, #cancel {
	color: white;
	cursor: pointer;
	margin-top: 10px;
	padding: 7px 5px;
	text-align: center;
}
#send {
	background-color: #f30;
}
#cancel {
	background-color: #1e5070;
}
#commands #send:hover, #commands #cancel:hover {
	background-color: #000;
}

#toolbar button {
	font-size: 16px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	outline: none;
	color: #000;
	cursor: pointer;
	border: none;
	transition: background-color .2s ease;
}
#toolbar button:hover {
	background-color: #ddd;
}

/* Enviar a redes sociales */
#send2social input {
	display: none;
}
#send2social label {
	font-size: 14px;
	/* margin-left: 5px; */
	-webkit-filter: grayscale(90%);
	/* padding: 2px; */
	border: 1px solid transparent;
	display: block;
	margin-top: 5px;
	cursor: pointer;
	color: #fff;
	padding: 1px;
}
#send2social input:checked + label {
	-webkit-filter: grayscale(0%);
	/* border-color: #666; */
}

.facebook {
	background-color: #3B5999;

}
.twitter {
	background-color: #55acee;
}