a {
	color:#0293ff;
}

.video {
	margin-top:5px;
	margin-bottom:5px;
}

.noseguido {
	border: 1px dotted #f30;
}

.seguido {
	background-color:#f63;
	color:#fff;
}

.seguido, .noseguido {
	padding-left:5px;
	padding-right:3px;
}
.seguido a {
	color:#fff;
}