@import url(http://fonts.googleapis.com/css?family=Metrophobic);

a {
	color:#f30;
}

/* Navegación */
.section-container {
	height: 50px;
	width: 150px;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	border-bottom: 2px solid red;
	background-color: white;
}

.section-container:hover {
	height: 300px;
	width: 600px;
}

.section-container h1 {
	font-size: 1.5em;
}

.section-container h2 {
	font-size: 1.2em;
}

ul.navigator {
	padding: 0;
}
ul.navigator li {
	list-style: none;
	cursor: pointer;
}
ul.navigator li:hover {
	background-color: red;
	color: white;
}

#board, #profile {
	background-color: white;
	width: 450px;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: all 1s ease;
}
#board {
	height: 600px;
}

#profile {
	z-index: 10;
	overflow: hidden;
	height:0;
}
#profile:hover, #profile.on {
	height: 600px;
}

#editor {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
/* Mensajes */
.message-list {
	overflow-y: scroll;
}

.message {
	border: 1px solid #ccc;
	font-size: 1em;
	background-color: white;
	margin-top:5px;
	padding: 10px;	
}

.msg_header {
	font-size:1.2em;
	position: relative;
	border-bottom: 1px dotted #FF7A00;
}
.msg_header > b {
	display: block;
}

.msg_header img {
	width:50px;
	height:auto;
	border: 1px solid black;	
	padding: 1px;
	float:left;
	margin-right: 10px;
	margin-bottom: 5px;
}

.msg_control {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	opacity: 0;
}

.msg_control .btn {
	margin-bottom: 2px;
	color:white;
	clear: both;
	cursor: pointer;
	font-size: .8em;
	display: inline;
	margin-right: 10px;
	font-weight: bold;
}

.msg_control:hover {
	background-color: #FFB673;
	width: 500px;
	opacity: 1;
}

.msg_content  img {
	padding: 1px;
	border: 1px solid #ccc;
}

.profile img {
  margin:2px;
  width:75px;
  height:75px;
  float:left;
}

.profile_item {
	background-color:white;
	margin:2px;
	border-width:1px;
	padding-left: 70px;
}

/* Followers */
#follow-to, #follow-me {
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
}

#follow-to {
	width:48%;
	float:left;
}

#follow-me {
	width:48%;
	float:right;
}

#follows img {
	width:35px;
	height:auto;
	padding: 1px;
	display: inline;
	border:3px solid #ccc;
}


#follows img.online {
	border:3px solid #f30;
}

.login_message {
	font-size:14px;
}

.video {
	margin-top:5px;
	margin-bottom:5px;
}

#fbtt {
	width:150px !important;
	height:20px;
	display:block;
	float:left;
}

#fbtt a {
	width:20px;
	background-color:#FFF;
	float:right;
}

#seguiropcion, #blockopcion {
	padding:0px;
	margin:0 0 0 3px;
	float:right;
}

.noseguido {
	border: 1px dotted #f30;
}

.seguido {
	background-color:#f63;
	color:#fff;
}

.seguido, .noseguido {
	padding-left:5px;
	padding-right:3px;
}
.seguido a {
	color:#fff;
}

/* Estrella de favorito */
.favon, .favoff {
	float:right;
	border:0 !important;
}
.favon {
	-webkit-filter: grayscale(0);
}
.favoff {
	-webkit-filter: grayscale(100%);
}
.section_head {
	display:inline;
}
.search {
	display:inline;
}

.search_res {
	color:#6F6;
	background-color:#F3C;
	font-size:18px;
	display:inline;
}

