body {
	font-family: 'Metrophobic', sans-serif;
	font-size: 16px;
}

#selector-editor {
	width: 1200px;
	margin-top: 200px;
	margin-left: 5px;
}

#canvas-editor {
	outline: 5px dotted #015965;
}
#canvas-controls{
	width: 550px;
	height: 600px;
	overflow: hidden;
	background-color: #5FC0CE;
	padding: 5px;
	position: absolute;
	top: 195px;
	left: 630px;

}
#canvas-controls input[type='range'] {
	-webkit-appearance: none;
	padding-left:2px; padding-right:2px;
	-webkit-border-radius: 3px;
	background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}
#canvas-controls input[type='file'] {
	-webkit-appearance: none;
    overflow: hidden;
    width: 0;
    height: 0;
}

#canvas-layers .item {
	cursor: pointer;
	padding: 2px 2px 5px 2px;
	height: 42px;
	position: relative;
	-webkit-transition: all .2s ease;
}
#canvas-layers .item div {
	background-color: white;
	height: 100%;
	width: 100%;
}

#canvas-layers .item.hover {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 5px solid red;
}

#canvas-layers .item img {
	max-height: 40px;
	position: absolute;
	top: 1px;
	right: 1px;
	margin: 2px;
}

#selector-content img {
	max-width: 150px;
	max-height: 150px;
	margin: 5px;
}
#selector-items {
	overflow: scroll;
	padding: 10px;
}
#selector-items .item {
	margin-bottom: 5px;
}

#selector-content img:hover {
	outline: 2px solid #ff3300;
}

h1 {
	font-size: 1em;
	color: white;
}
h2 {
	display: inline;
	font-size: .9em;
	color: white;
	border-bottom: 1px dotted black;
}

#draw-options {
	-webkit-transition: all .5s ease;
	overflow: hidden;
}
#canvas-text + div {
	-webkit-transition: all .5s ease;
	overflow: hidden;
	height: 0;
	opacity: 0;
}
#canvas-text.on + div {
	height: auto;
	opacity: 1;
}

h1 {
	cursor: pointer;
}
h1.off + div {
	height: 0;
	overflow: hidden;
	border-bottom: 1px solid black;
	-webkit-transition: height .5s ease;
}

h1.on + div {
	height: 300px;
	overflow: scroll;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	-webkit-transition: height .5s ease;
}

#masonry-container {
	display: none;
	width: 600px;
	height: 600px;
}

.btn {
	width: 35px;
	height: 35px;
	font-size: 1.2em;
	background-color: #FFB673;
	color: white;
}
.btnon {
	min-width: 35px;
	min-height: 35px;
	font-size: 1.2em;
	background-color: #FF7A00;
	color: white;
}
#canvas-rect {
	background-image: url("/icon/square.png");
	background-repeat:  no-repeat;
}
#canvas-circle {
	background-image: url("/icon/circle.png");
	background-repeat:  no-repeat;
}
#canvas-triangle {
	background-image: url("/icon/triangle.png");
	background-repeat:  no-repeat;
}
#clips-loader {
	display: none;
}