@import url(http://fonts.googleapis.com/css?family=Metrophobic);

body {
	min-width:465;
	height:500px;
	overflow-x:hidden;
	font-family: 'Metrophobic', sans-serif;
	font-size: 16px;
	overflow-y:hidden;
	color:#333;
}