/* colores
	- azul: #004862
	- rojo: #F25600
*/

body {
	width:600px;
	/* height: 650px; */
	overflow-x:hidden;
	overflow-y:hidden;
	/*font-family: 'Roboto', sans-serif*/;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Dosis', sans-serif;*/
	font-size: 14px;
	margin: 0px;
}

/* algunas clases genéricas */
.red {
	background-color: #F25600;
	color: #fff;
}
.blue {
	background-color: #004862;
	color: #fff;
}

.fa {
	font-family: 'Open Sans', sans-serif;
}
.fa:before {
	font-family: 'fontawesome';
}

.container {
	
}

#profile-container {
	background-color: #fff;
	height: 0;
	width: 100%;
	position: absolute;
	top: 47px;
	overflow: hidden;
	transition: height .25s linear;
	z-index: 300;
}
#profile-container.on {
	height: 550px;
}
/* Navegación */
.section-container {
	background-color: white;
}

h1 {
	font-size: 1.4em;
	font-weight: 400;
}
.section-container h2 {
	font-size: 1.1em;
}

ul.navigator {
	padding: 0;
	color: #666;
	font-weight: 300;
	margin: 3px 0;
	max-height: 300px;
	overflow-y: auto;
}
ul.navigator li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	list-style: none;
	cursor: pointer;
	padding: 2px;
}
ul.navigator li.on {
	color:#F25600;
	font-weight: 400;
}
ul.navigator li:hover {
	background-color: #004862;
	color: white;
}

#thm-section {
	margin-top: 0.8em;
	
}

#header {
	height: 37px;
	padding: 5px 5px;
	background-color: #004862;
	color: #fff;
	position: relative;
	
	vertical-align:  top;
	width: 140px;
}
#header-menu {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}
#header-menu li {
	list-style: none;
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
	border-bottom: 2px solid #004862;
}
#header-menu li.on {
	background-color: #fff;
	color: #004862;
	border-bottom: 2px solid #fff;
}
#header-menu li:hover {
	border-bottom: 2px solid #fff;
}
#user-avatar {
	width: 35px;
	border: 1px solid #fff;
	/* border-radius:  20px; */
	/* display: inline-block; */
	/* vertical-align: middle; */
	float:  left;
	margin-right:  5px;
}
#header span {
	display: block;
}
#user-nickname {
	/* font-weight: 400; */
	font-size: 16px;
}
#user-fullname {
	font-weight: 200;
	font-size: 12px;
}

#navigation {
	float:left;
	width: 140px;
	text-align: right;
	padding: 5px;
}

#navigation h1 {
	margin: 0;
}

#messages {
	position: relative;
	float: right;
	background-color: #eee;
	width: 450px;
	height: 550px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.messages-header {
	position: absolute;
	top:0;
	/* left: 0; */
	right: 0;
	padding: 5px;
	width: 440px;
	/* height: 20px; */
}

#messages-header {
	/*background-color: rgba(100,100,100,.9);*/
	background-color: rgba(242, 86, 0, .9);
	z-index: 100;
	border-bottom: 1px solid #fff;
	transition: all .25s ease;
	overflow: hidden;
	height: 37px;
}
#messages-header.on {
	background-color: rgba(50,50,50,.95);
	height: 260px;
}
#messages-header .nav {
	float: right;
	border: 1px solid #fff;
}
#messages-header .search {
	float: right;
	background-color: #fff;
	border: 1px solid #fff;
}
#messages-header .button {
	border: 0;
	background-color: #666;
	color: #fff;
	padding: 4px;
	cursor: pointer;
	height: 15px;
	width: 15px;
	text-align: center;
	display: inline-block;
}
#messages-header .search a:hover {
	background-color: #000;
}
#messages-header .search input[type=text] {
	outline: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 0;
	margin: 0;
	padding: 4px;
	width: 0px;
	transition: width .25s ease;
}
#messages-header .search input[type=text]:focus {
	width: 120px;	
}

#board-info {
	color: #fff;
}

#board-title {
	text-shadow: 0 0 5px rgba(0, 0, 0, .8);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	font-size: 16px;
	margin-top:  4px;
	margin-left:  5px;
	display: block;
}
#board-title:before {
	display:inline-block;
	margin-right: 5px;
	transition: all .25s ease;
	/* margin-top:  0; */
}
#board-description {
	clear: both;
	font-weight: 200;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 6px;
}

#messages-header.on #board-title:before {
	-webkit-transform:rotate(180deg);
}

#board-description img {
	float: right;
	max-width: 130px;
	margin-left: 10px;
	max-height:  100px;
}
#board-description img.avatar {
	float: right;
	width: 55px;
	border: 1px solid #fff;
	margin-top: 13px;
}
#board-description p {
	max-height: 100px;
	overflow-y: auto;
}
#board-description .eskup-info {
	height: 90px;
}
.eskup-info .stats {
	float: left;
	background: #F25600;
	margin-right: 5px;
	padding: 2px;
	text-align: center;
}
.eskup-info .stats:before {
	display: block;
	width: 100%;
}
.eskup-info .info-users:before {
	content: "usuarios";
}
.eskup-info .info-messages:before {
	content: "mensajes";
}
.eskup-info .info-themes:before {
	content: "temas";
}
.eskup-info .stats div {
	display: inline-block;
	margin: 3px;
	width: 50px;
	height: 50px;
	background-color: #fff;
}
.eskup-info .stats div a {
	display: block;
	margin-top: 5px;
	font-size: 16px;
	text-decoration: none;
}
.eskup-info .stats div:before {
	display: block;
	width: 100%;
	font-size: 10px;
	background-color: #F25600;
}
.eskup-info .info-users .from:before {
	content: "sigue a";
}
.eskup-info .info-users .to:before {
	content: "le siguen";
}
.eskup-info .info-messages .from:before {
	content: "enviados";
}
.eskup-info .info-messages .to:before {
	content: "menciones";
}
.eskup-info .info-themes .follow:before {
	content: "sigue";
}
.eskup-info .info-themes .write:before {
	content: "escribe en";
}
#board-description .links {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
	max-width: 290px;
	/* outline: 1px solid red; */
	height: 96px;
	overflow-y: auto;
}
#board-description .links:before {
	content: "Más información:";
	display: block;
	padding: 0 3px;
}
#board-description .links li {
	padding: 2px;
	margin-right: 5px;
}
#board-description .links li.eskup:before {
	content: " ";
	background-repeat: no-repeat;
	background-image: url(/icon/eskup_logo.png);
	width: 12px;
	height: 12px;
	background-size: 15px;
	display: inline-block;
	overflow: visible;
}
#board-description .links a {
	text-decoration: none;
	background-color: #555;
	padding: 2px 3px;
	display: inline-block;
	color: #fff
}

#board-description .links a:hover {
	background-color:#F25600;
	color: #fff;
}
/* Control del tema */
.theme-control {
	/* clear: both; */
	/* padding-top: 5px; */
	perspective: 800px;
	float: right;
}
.control-item {
	background-color: #004862;
	margin-bottom: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	position: relative;
	width: 130px;
	height: 26px;
	overflow: hidden;
	text-transform: uppercase;
}
.control-item:hover:before {
	top: -40px;
}
.control-item:hover:after {
	top: 5px;
}

.control-item:before {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5px;
	transition: top .25s ease;
}
.control-item:after {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 25px;
	transition: top .25s ease;
}
.control-item.on {
	background-color: #F25600;
}

.control-item.follow:before {
	content: "no lo estás siguiendo";
}
.control-item.follow:after {
	content: "comenzar a seguirlo";
}
.control-item.follow.on:before {
	content: "lo estás siguiendo";
}
.control-item.follow.on:after {
	content: "dejar de seguirlo";
}
.control-item.writable:before {
	content: "no puedes escribir aquí";
}
.control-item.writable:after {
	content: "comenzar a escribir";
}
.control-item.writable.on:before {
	content: "puedes escribir aquí";
}
.control-item.writable.on:after {
	content: "dejar de escribir";
}

/***********************/
/* tablón de mensajes  */
/***********************/
.board {
	position: absolute;
	top: 0px;
	height: 100%;
	transition: left .5s ease;
	width: 450px;
	overflow-y: scroll;
	padding-top: 10px;
}
#board {
	left: 0;
}
#tree-board {
	left: 450px;
	overflow-x: scroll;
}
#board.switch {
	left: -450px;
}
#tree-board.switch {
	left: 0;
}
#board .no-messages {
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-left-color: #ccc;
	border-top-color: #ccc;
	border-right-color: #fff;
	border-bottom-color: #fff;
	text-align: center;
	color: #666;
	font-style: italic;
}
#board .loading {
	background-color: #fff;
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: #aaa;
}
#board .loading .fa {
	margin-right: 10px;
}

/* Editor */
#edit-section {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* background-color: #fff; */
	height: 40px;
	border-top: 1px solid #fff;
	overflow: hidden;
	z-index: 200;
	transition: height .25s ease-in-out;
}
/* el mensaje que se está contestanddo */
#replying-message {
	background-color: #f8f8f8;
	border-bottom: 1px dotted #666;
	max-height: 220px;
	overflow-y: scroll;
	padding: 10px;
}
#edit-section h1 {
	background-color: #666;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	height: 20px;
	padding: 10px;
	cursor: pointer;
	margin: 0;
	width: 130px;
}

#edit-section h1 .edit-title {
	margin-right: 10px;
}

#edit-section.on {
	height: 550px;
}
#edit-section.on h1 .fa {
	-webkit-transform:rotate(180deg);
}
/* Profile */
#profile-section {
	overflow: auto;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	border: 1px solid #ccc;
	height: 470px;
	position: relative;
}
#logout {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
}
#logout:hover {
	color: #F25600;
}
#profile-section .info {
	height: 65px;
}

/* Mensajes */
.message-list {

}

.message {
	border: 1px solid #dfdfdf;
	font-size: 1em;
	background-color: white;
	margin: 5px 10px;
	padding: 10px;
	box-shadow: 0 1px 2px #d9d9d9;
}
.message.highlighted {
	border-color: rgb(15, 127, 187);
	box-shadow: 0px 0px 3px 0px rgba(15, 127, 187, 0.75);
}
.card {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform:  translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    -moz-transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    opacity: 0;
}
 
.card.appeared{
    -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    -moz-transform:  translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    opacity: 1;
}
.message.conversation {
	border-color: #aaa;
	box-shadow: none;
	margin-top: 0;
}
.message.conversation.mark {
	margin-bottom: 0;
	border-bottom: none;	
	position: relative;
	opacity:0;
	transition: opacity .5s ease;
}
.message.conversation.mark.show {
	opacity:1;
}
.message.conversation.mark:after {
	display: block;
	content:  " ";
	background-color: #fff;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	position: absolute;
	left: 200px;
	bottom: -6px;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	z-index: 50;
}
.message.conversation.mark.forwarded:before {
	display: block;
	position: absolute;
	content: "mensaje original";
	left: 150px;
	top: 38px;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 1px 5px;
	z-index: 50;
}
.conversation .message {
	border: none;
	box-shadow: none;
	margin:0;
	padding: 10px 0;
	margin-top: 5px;
	border-top: 2px solid #ddd;
}

.msg_header {
	font-size:1em;
	position: relative;
	border-bottom: 1px dotted #ccc;
	height: 40px;
}
.msg_header .time {
	margin-left: 8px;
	font-size: 12px;
	color: #aaa;
	text-decoration: none;
	position: relative;
}
.msg_header .time:hover {
	color: #666;
}
.msg_header .time:before {
	margin-right: 3px;
}

span.time-tooltip {
	display: inline-block;
	position: absolute;
	width: 150px;
	background-color: #666;
	color: #fff;
	padding: 2px;
	left: -76px;
	top: 20px;
	margin-left: 5px;
	border: 1px solid #fff;
}
.time-tooltip:before {
	content: " ";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #666;
	left: 70px;
	top: -5px;
	-webkit-transform: rotate(45deg);
}
span.time-tooltip span {
	display: block;
	padding: 3px;
}
span.time-tooltip span:first-child {
	border-bottom: 1px solid #ccc;
}
.msg_header img {
	width: 35px;
	height:auto;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
}
.msg_header .reply2link {
	font-size: 12px;
	cursor: pointer;
	color: #aaa;
	/* clear: both; */
	display: block;
	float: left;
	padding-top: 3px;
}
.msg_header .reply2link:before {
	display: inline-block;
	-webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
	margin-right: 3px;
}
.msg_control {
	/* position: absolute; */
	/* right: 0; */
	/* top: 0; */
	/* overflow: hidden; */
	/* transition: all .2s ease; */
	font-size: 12px;
	color: #ccc;
	padding: 3px;
}
.modal .msg_control, #replying-message .msg_control {
	display: none;
}

.msg_control:hover {
	color: #999;
}

.msg_control .btn {
	/* display: none; */
	cursor: pointer;
	/* padding: 4px 2px; */
	margin-right: 10px;
}

.msg_control .btn:hover {
	color: #666;
}
.msg_control .fav.on {
	color: red;
}

.msg_content {
	line-height: 1.5em;
	color: #222;
	font-weight: 300;
	margin-top: 10px;
	word-wrap: break-word;
}

.msg_content  img {
	max-width: 100%;
	margin-top: 5px;
	display: block;
}
#replying-message .msg_content  img {
	width: 150px;

}
.themes {
	font-size: 11px;
	padding: 0;
}
.themes:before {
	content: "TEMAS: ";
}
.themes li {
	display: inline-block;
	padding: 1px 3px;;
	background-color: #eee;
	margin-right: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-bottom: 2px;
}
.themes li:hover {
	text-decoration: underline;
}

/* Profile */
#profile-avatar {
  width:50px;
  float:left;
  margin-right: 10px;
}
#profile-nickname {
	font-size: 20px;
	font-weight: bold;
}
#profile-fullname {
	font-size: 24px;
	font-weight: 200;
}
#profile-description {
	color: #666;
}

.profile-social {
	
	/* float: right; */
}

.selector {
	clear: both;
	margin-top: 10px;
}
.selector-item {
	padding: 5px 0;
	border-top: 1px solid #666;
}

.selector h4 {
	font-size: 20px;
	padding: 3px 0;
	text-transform: uppercase;
	color:  #666;
	font-weight: lighter;
	margin: 0;
	cursor: pointer;
}

.selector h4 .number {
	font-weight: bold;
	color: #F25600;
}
.selector ul {
	height: 0;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	transition: height .25s ease;
}
.selector-item.on ul {
	height: 210px;
}
.selector-item.on h4 {
	border-bottom: 1px dotted #ccc;
}
.selector li {
	list-style: none;
	border-bottom: 1px solid #ddd;
	height: 55px;
	clear: both;
	font-size: 12px;
}
.selector li img {
	width: 40px;
	margin: 5px;
	border: 1px solid #fff;
	float:left;
}
.selector li img.big {
	width: 60px;
}
.selector li img.online {
	outline: 2px solid #F25600;
}

.selector .puser-info {
	float: left;
	margin: 5px;
}
.selector .puser-nickname {
	font-weight: bold;
	cursor: pointer;
}
.selector .puser-nickname:hover {
	color: #F25600;
	text-decoration: underline;
}
.selector .puser-fullname {
	color: #666;
}
.selector .ptheme-info {
	float: left;
	margin: 5px;
}
.selector .ptheme-name {
	font-weight: bold;
	cursor: pointer;
}
.selector .ptheme-name:hover {
	color: #F25600;
	text-decoration: underline;
}
.selector .ptheme-description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	width: 300px;
	color: #666;
}
.selector .theme-control {
	display: none;
	padding-top: 5px;
}
.selector li:hover .theme-control {
	display: block;
}

#follow-to {
	
}

#follow-me {
	
}