/* colores
	-verde: #004862
	- rojo: #F25600
*/

body {
	width:600px;
	/* height: 650px; */
	overflow-x:hidden;
	overflow-y:hidden;
	/*font-family: 'Roboto', sans-serif*/;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Dosis', sans-serif;*/
	font-size: 14px;
	margin: 0px;
}
.fa {
	font-family: 'Open Sans', sans-serif;
}
.fa:before {
	font-family: 'fontawesome';
}
.container {
	
}

#profile-container {
	background-color: #fff;
	height: 0;
	width: 100%;
	position: absolute;
	top: 50px;
	overflow: hidden;
	transition: height .25s linear;
	z-index: 300;
}
#profile-container.on {
	height: 550px;
}
/* Navegación */
.section-container {
	background-color: white;
}

h1 {
	font-size: 1.4em;
	font-weight: 400;
}
.section-container h2 {
	font-size: 1.1em;
}

ul.navigator {
	padding: 0;
	color: #666;
	font-weight: 300;
	margin: 3px 0;
	max-height: 300px;
	overflow-y: scroll;
}
ul.navigator li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	list-style: none;
	cursor: pointer;
	padding: 2px;
}
ul.navigator li.on {
	color:#F25600;
	font-weight: 400;
}
ul.navigator li:hover {
	background-color: #004862;
	color: white;
}

#header {
	height: 30px;
	padding: 10px 5px;
	background-color: #004862;
	color: #fff;
	position: relative;
}
#header-menu {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}
#header-menu li {
	list-style: none;
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
	border-bottom: 2px solid #004862;
}
#header-menu li.on {
	background-color: #fff;
	color: #004862;
	border-bottom: 2px solid #fff;
}
#header-menu li:hover {
	border-bottom: 2px solid #fff;
}
#user-avatar {
	width: 30px;
	border: 1px solid #fff;
}
#header span {
	font-size: 18px;
}
#user-name {
	font-weight: 400;
}
#user-fullname {
	font-weight: 300;
}

#navigation {
	float:left;
	width: 140px;
	text-align: right;
	padding: 5px;
}

#navigation h1 {
	margin: 0;
}

#messages {
	position: relative;
	float: right;
	background-color: #eee;
	width: 450px;
	height: 550px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.messages-header {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	padding: 10px;
}

#messages-header {
	background-color: rgba(100,100,100,.7);
	z-index: 100;
	border-bottom: 1px solid #fff;
	transition: all .25s ease;
	overflow: hidden;
	height: 23px;
}
#messages-header.on {
	background-color: rgba(0,0,0,.9);
	height: 260px;
}
#messages-header .search {
	float: right;
	background-color: #fff;
	/* border-radius: 3px; */
	border: 1px solid #fff;
}
#messages-header .search a {
	border: 0;
	outline: none;
	background-color: #666;
	color: #fff;
	margin: 0;
	/* border-top-right-radius: 3px; */
	/* border-bottom-right-radius: 3px; */
	cursor: pointer;
	padding: 4px;
}
#messages-header .search a:hover {
	background-color: #000;
}
#messages-header .search input[type=text] {
	outline: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 0;
	margin: 0;
	padding: 4px;
	width: 50px;
	transition: width .25s ease;
}
#messages-header .search input[type=text]:focus {
	width: 120px;	
}

#board-info {
	color: #fff;
}

#board-title {
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	/* clear: none; */
	display: block;
}
#board-title:before {
	display:inline-block;
	margin-right: 5px;
	transition: all .25s ease;
}
#board-description {
	clear: both;
	font-weight: 200;
	font-size: 12px;
	margin-top: 20px;
}

#messages-header.on #board-title:before {
	-webkit-transform:rotate(180deg);
}

#board-description img {
	float: right;
	width: 130px;
	margin-left: 10px;
}
#board-description p {
	height: 100px;
	overflow-y: scroll;
}

#board-description .links {
	float: left;
	padding: 0;
	margin: 0;
}
#board-description .links:before {
	content: "Más información:";
	display: block;
	padding: 0 3px;
}
#board-description .links li {
	
	padding: 2px;
	border-top: 1px dotted #ccc;
}
#board-description .links a {
	text-decoration: none;
	background-color: #555;
	padding: 1px 5px;
	display: block;
	color: #fff
}
#board-description .links a:hover {
	background-color:#F25600;
	color: #fff;
}
/* Control del tema */
.theme-control {
	/* clear: both; */
	/* padding-top: 5px; */
	perspective: 800px;
	float: right;
}
#board-description .control-item {
	/* display: inline-block; */
	background-color: #004862;
	margin-bottom: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 11px;
	position: relative;
	width: 130px;
	height: 20px;
	overflow: hidden;
}
#board-description .control-item:hover:before {
	top: -40px;
}
#board-description .control-item:hover:after {
	top: 0;
}

#board-description .control-item:before {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transition: top .25s ease;
}
#board-description .control-item:after {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 40px;
	transition: top .25s ease;
}
#board-description .control-item.on {
	background-color: #F25600;
}

#board-description .control-item.follow:before {
	content: "no sigues este tema";
}
#board-description .control-item.follow:after {
	content: "comenzar a seguirlo";
}
#board-description .control-item.follow.on:before {
	content: "sigues este tema";
}
#board-description .control-item.follow.on:after {
	content: "dejar de seguirlo";
}

#board-description .control-item.writable:before {
	content: "no puedes escribir aquí";
}
#board-description .control-item.writable:after {
	content: "comenzar a escribir";
}
#board-description .control-item.writable.on:before {
	content: "puedes escribir aquí";
}
#board-description .control-item.writable.on:after {
	content: "dejar de escribir";
}



/***********************/
/* tablón de mensajes  */
/***********************/
#board .no-messages {
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-left-color: #ccc;
	border-top-color: #ccc;
	border-right-color: #fff;
	border-bottom-color: #fff;
	text-align: center;
	color: #666;
	font-style: italic;
}
#board .loading {
	background-color: #fff;
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: #aaa;
}
#board .loading .fa {
	margin-right: 10px;
}
#board, #tree-board {
	transition: all .5s ease;
	width: 450px;
}
#board {
	padding-top: 40px;
	position: absolute;
	height: 475px;
	overflow-y: scroll;
	top: 0;
}
#tree-board {
	position: absolute;
	left: 450px;
	height: 475px;
	top: 40px;
	overflow-y: scroll;
	/* width: 450px; */
}
#closetree {
	display: block;
}
/* Editor */
#edit-section {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	height: 40px;
	border-top: 1px solid #fff;
	overflow: hidden;
	z-index: 200;
	transition: height .25s ease-in-out;
}
/* el mensaje que se está contestanddo */
#replying-message {
	background-color: #f8f8f8;
	border-bottom: 1px dotted #666;
	max-height: 220px;
	overflow-y: scroll;
	padding: 10px;
}
#edit-section h1 {
	background-color: #666;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	height: 20px;
	padding: 10px;
	cursor: pointer;
	margin: 0;
}

#edit-section h1 .edit-title {
	margin-right: 10px;
}

#edit-section.on {
	height: 550px;
}
#edit-section.on h1 .fa-chevron-up {
	-webkit-transform:rotate(180deg);
}
/* Profile */
#profile-section {
	overflow: auto;
	padding: 10px;
}

/* Mensajes */
.message-list {

}

.message {
	border: 1px solid #dfdfdf;
	font-size: 1em;
	background-color: white;
	margin: 5px 10px;
	padding: 10px;
	box-shadow: 0 1px 2px #d9d9d9;
}
.card {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform:  translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    -moz-transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    opacity: 0;
}
 
.card.appeared{
    -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    -moz-transform:  translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    opacity: 1;
}
.message.conversation {
	border-color: #004862;
	box-shadow: 0 1px 5px #004862;
}
.conversation .message {
	border: none;
	box-shadow: none;
	margin:0;
	padding: 10px 0;
	margin-top: 5px;
	border-top: 2px solid #ddd;
}

.msg_header {
	font-size:1em;
	position: relative;
	border-bottom: 1px dotted #ccc;
	height: 40px;
}
.msg_header .time {
	margin-left: 8px;
	font-size: 12px;
	color: #aaa;
	text-decoration: none;
	position: relative;
}
.msg_header .time:hover {
	color: #666;
}
.msg_header .time:before {
	margin-right: 3px;
}

span.time-tooltip {
	display: inline-block;
	position: absolute;
	width: 150px;
	background-color: #666;
	color: #fff;
	padding: 2px;
	left: -76px;
	top: 20px;
	margin-left: 5px;
	border: 1px solid #fff;
}
.time-tooltip:before {
	content: " ";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #666;
	left: 70px;
	top: -5px;
	-webkit-transform: rotate(45deg);
}
span.time-tooltip span {
	display: block;
	padding: 3px;
}
span.time-tooltip span:first-child {
	border-bottom: 1px solid #ccc;
}
.msg_header img {
	width: 35px;
	height:auto;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
}
.msg_header .reply2link {
	font-size: 12px;
	cursor: pointer;
	color: #aaa;
}
.msg_header .reply2link:before {
	display: inline-block;
	-webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
	margin-right: 3px;
}
.msg_control {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	transition: all .2s ease;
	font-size: 12px;
	color: #aaa;
	padding: 3px;
}
.modal .msg_control, #replying-message .msg_control {
	display: none;
}

.msg_control:hover {
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: -3px 2px 8px 0px rgba(50, 50, 50, 0.75);
}
.msg_control:hover .btn {
	display: block;
}
.msg_control:before {
	color: #666;
	font-size: 12px;
}
.msg_control:hover:before {
	display: none;
}
.msg_control .btn {
	display: none;
	cursor: pointer;
	padding: 2px;
}

.msg_control .btn:hover {
	color: #666;
}
.msg_control .fav.on {
	color: red;
}

.msg_content {
	line-height: 1.5em;
	color: #666;
	font-weight: 300;
	margin-top: 10px;
	word-wrap: break-word;
}

.msg_content  img {
	width: 100%;
	margin-top: 5px;
	display: block;
}
#replying-message .msg_content  img {
	width: 150px;

}
.themes {
	font-size: 11px;
	padding: 0;
}
.themes:before {
	content: "TEMAS: ";
}
.themes li {
	display: inline-block;
	padding: 1px 3px;;
	background-color: #eee;
	margin-right: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-bottom: 2px;
}
.themes li:hover {
	text-decoration: underline;
}

/* Profile */
#profile-section img {
  margin:2px;
  width:30px;
  height:auto;
  float:left;
}

.profile-item span {
	display: inline-block;
	background-color: #f2f2f2;
	border: 1px solid #fff;
}
.profile-item .field {	
	width: 100px;
	text-align: right;
}
.profile-item .value {
	width: 300px;
}
#follow-to, #follow-me {
	border: 1px solid #ddd;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
}

#follow-to {
	width:270px;
	float:left;
}

#follow-me {
	width:270px;
	float:right;
}

#follows img {
	width:35px;
	height:auto;
	padding: 1px;
	display: inline;
	border:3px solid #ccc;
}

#follows img.online {
	border: 3px solid #004862;
}

