/* Arbol de mensajes de un hilo */
.node {
	
}
.item {
		
	border-bottom: 1px dotted black;
	height: 30px;
}	
.node.last{

}
.node:after {
		visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}
.node .message {
	margin: 0;
	margin-left: 10px;
}

.children {
	overflow: hidden;
	clear: both;
	margin-left: 20px;
}
.children.on {
	height: auto;
	border-left: 1px dotted black;

}
.item:after {
	visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

.more {
	cursor: pointer;
	background-color: orange;
	width: 100px;
	font-size: 1em;
	height: 1.5em;
	background-image: url('/icon/more.png');
	background-repeat: no-repeat;
	padding-left: 15px;
}
.more.on {
	background-color: white;
	background-image: url('/icon/less.png');
	border-left: 1px dotted black;
}