@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* LLamada de atención para mostrar los comentarios en Eskup */
.eskup-reminder {
    background-color: #f30;
    color: #fff;
    width: 200px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px;
    font-family: 'PT Sans', sans-serif;
    z-index: 2000;
    border: 2px solid #fff;
}
.eskup-reminder:before {
	position: absolute;
	display: block;
	background-color: #f30;
	content: "";
	left: 25px;
	top: -7px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: rotate(45deg);
}
.eskup-reminder p {
	padding: 5px 5px 5px 25px;
	border: 2px dotted #fff;
	border-radius: 5px;
}
.eskup-reminder-buttons div {
	background-color: #000;
	cursor: pointer;
	font-size: 12px;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}
.eskup-reminder-buttons div:hover {
	background-color: #666;
}
.eskup-reminder-buttons div:active {
	background-color: #ddd;
	color: #666;
}
.eskup-reminder i {
	display: block;
	font-size: 30px;
	position: absolute;
	left: 5px;
	top: 20px;
	background-color: #f30;
	z-index: 50;
}