body {
  width: auto;
  -webkit-box-sizing: border-box;
  height: 1000px;
}
/*********************/
/* Elementos del SVG */
/*********************/

#d3-chart {
  position: absolute;
  top: 0;
  left: 600px;
  right: 0;
  bottom: 0;
  border:  1px solid red;
}

.node circle {
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke-width: .2px;
}

/******************/
/* Elementos HTML */
/******************/
#switch.and:before {
  content: "TODOS";
}
#switch.or:before {
  content: "ALGUNO";
}
.expandable {
  margin: 0;
  background-color: rgba(255,255,255,1);
  overflow-y: scroll;
  max-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  border-right: 1px solid #ccc;
  overflow-x: hidden;
  box-shadow: 0 0 15px rgba(100,100,100,.5);
  transition: width .5s ease; 
}
#chart-messages {
  width: 300px;
  left: 300px;
}

#chart-messages .msg-container {
  display: table-cell;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  vertical-align: top;
  position: relative;
}
#chart-messages .msg-container .handle {
  width: 100%;
  padding: 4px 0;
  border-top: 1px solid #fff;
}
#chart-messages.on .msg-container .handle {
  border: 1px solid #fff;
  border-bottom:  none;
}
#chart-messages .children-container {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#chart-messages .message {
  border: 0;
  max-width: 500px;
}
#chart-messages.on .message {
  margin-left: auto;
  margin-right: auto;
}
#chart-messages .message .reply2link, #chart-messages .message .thlink {
  display: none;
}
#chart-messages .current > .message {
  background-color: #eee;
}
#chart-messages .msg-container .msg-container.on:before {
  display: block;
  content: "\00D7";
  background-color: #000;
  color: #fff;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  position: absolute;
  right: -1px;
  top: 0;
  text-align: center;
}

#current-message .message {
  position: absolute;
  background-color: #fff;
  width: 400px;
}

#chart-control {
  width: 150px;
  left:  0;
}
.expandable h1 {
  color: #fff;
  background-color: #f30;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  display: block;
  font-weight: bold;
  position: relative;
}
.expandable .expand {
  position: absolute;
  background-color: #000;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
}
.expandable p {
  color: #666;
  font-size: 10px;
  padding: 0 10px;
}
.expandable.on .expand:before {
  -webkit-transform: rotate(180deg);
}

.expandable > div {
  padding: 0 10px;
}
.expandable h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  margin: 5px 0;
  /* border-bottom: 2px solid #ccc; */
}
#chart-control .item {
  color: #aaa;
  list-style: none;
  white-space: nowrap;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}
#chart-control .item span {
  display: inline-block;
  margin-right: 3px;
}
#chart-control .check.on {
  color: #000;
}

#chart-control .check {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#chart-control .check:before {
  display: inline-block;
  background-color: #ccc;
  width: 16px;
  height: 10px;
  content:  " ";
  margin-right: 3px;
  border-radius: 2px;
  border-top:  1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#chart-control .check:after {
  display: block;
  position: absolute;
  left: 2px;
  top: 3px;
  width: 8px;
  height: 8px;
  content: " ";
  background-color: #000;
  border-radius: 2px;
  transition: left .2s ease;
}
#chart-control .check.on:before {
  background-color: #fff;
}
#chart-control .on.check:after {
  left: 8px;
  background-color: #f30;
}

#check-all-users {
  margin-left: 5px;
  vertical-align: middle;
}

.users-list input[type="color"] {
  opacity: 0;
}

.users-list .nickname {
  width: 115px;
}
.users-list .color-picker {
  width: 10px;
  height: 10px;
  padding: 0;
  overflow: hidden;
  border-radius: 200px;
  padding: 0;
}
.users-list .nmessages {
  width: 75px;
  text-align: center;
}
.users-list .ndeleted {
  width: 75px;
  text-align: center;
}
.users-list .nwords {
  width: 80px;
  text-align: center;
}
.users-list .nreplies {
  width: 80px;
  text-align: center;
}
.expandable .list {
  max-height: 180px;
  overflow-y:scroll;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.expandable .list-head {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 5px 0 rgba(100,100,100,.2);
}

.expandable .list-head span {
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

.expandable .list-head span:hover {
  color: #000;
}
.expandable .list-head span:before {
  font-weight: normal;
  margin-left: 2px;
}

/* palabras */
.words-list .word {
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;   
  white-space: nowrap;   
  text-overflow: ellipsis;
}
.words-list .word:hover, #words-list .word:hover:before {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.words-list .list {
  counter-reset: nwords;
}
.words-list li:before {
  content: counter(nwords, decimal-leading-zero);
  font-size: 8px;
  counter-increment: nwords;
  /* background-color: #aaa; */
  padding: 2px;
  /* color: #666; */
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
.words-list li.on:before, .words-list li.on:hover:before {
  background-color: #f30;
  color:  #fff;
}
.on .words-list .list {
  -webkit-column-count: 5;
  -webkit-column-rule: 1px solid #ccc;
  overflow: hidden;
}

.images-list img {
  height: 100px;
  margin-right: 5px;
  float: left;
  margin-top: 5px;
}

#chart-filter {
  left: 150px;
  width: 150px;
}

/* Diagramas de frecuencia */
#d3-frequency {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 449px;
  height: 300px;
}
#d3-frequency.on {
  top: 0;
  height: auto;
}

/* OPciones de visualización */
#chart-options {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: #eee;
  border: 1px solid black;
  padding: 5px;
}
#chart-options .option {
  padding: 2px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
#chart-options .option:hover {
  background-color: #666;
}
