body {
  width: auto;
}
/*********************/
/* Elementos del SVG */
/*********************/

svg {
  position: absolute;
  /* left: 200px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.node circle {
  fill: #f30;
  stroke: #fff;
  stroke-width: .1px;
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: .2px;
}

/******************/
/* Elementos HTML */
/******************/

#chart-ouput {
  width: 400px;
  margin: 0;
  background-color: rgba(50,50,50,.5);
  overflow-y: scroll;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 150px;
  bottom: 0;
  font-size: 12px;
  /* display: table; */
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
}
#chart-ouput .msg-container {
  display: table-cell;
  height: 20px;
  background-color: red;
  overflow: hidden;
  transition: width .2s linear;
  position: relative;
  cursor: pointer;
  /* transition: width .2s linear; */
}
#chart-ouput .msg-container:before {
  width: 100%;
  content: " ";
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  border: 1px solid #fff;
}
#chart-ouput .children-container {
  display: table;
  width: 100%;
  /* border: 1px solid black; */
  border-collapse: collapse;
  background-color: cyan;
  min-height: 20px;
  table-layout: fixed;
  /* padding-top: 4px; */
  margin-top: -11px;
}
#chart-ouput .message {
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  /* display: table-cell; */
  width: 0;
  height: 0;
  opacity: 0;
  border-collapse: collapse;
  transition: opacity .2s linear;
}
#chart-ouput .current > .message {
  background-color: #eee;
}
#chart-ouput .msg-container.on > .message {
  width: 100%;
  height: auto;
  opacity: 1;
}

#current-message .message {
  position: absolute;
  background-color: #fff;
  width: 400px;
}

#chart-control {
  width: 150px;
  margin: 0;
  float: left;
  font-size: 12px;
  padding: 10px;
}
#chart-control h1 {
  color: #fff;
  background-color: #f30;
}
#chart-control h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
}
#chart-control ul {
  color: #666;
}
#users-list {
  padding: 2px;
  max-height: 500px;
  overflow-y: scroll;

}
#users-list li {
  list-style: none;
  cursor: pointer;
}
#users-list li:hover {
  background-color: #000;
  color: #fff;
}

#chart-control .list {
  max-height: 150px;
  overflow-y:scroll;
}

#chart-control img {
  max-width: 100px;
}
