body {
  width: auto;
  -webkit-box-sizing: border-box;
  height: 1000px;
}
/*********************/
/* Elementos del SVG */
/*********************/

#d3-chart {
  position: absolute;
  top: 0;
  left: 450px;
  right: 0;
  bottom: 0;
}

#d3-chart-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  cursor: default;
}

.node circle {
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}
.shape {
  stroke: #fff;
}
.link {
  fill: none;
  stroke: #ccc;
  transition: opacity .5s ease, stroke .2s ease, stroke-width .5s ease;
}
.link.tree {
  opacity: 1;
}
.link.timeline {
  opacity: .1;
  stroke-width: 5 !important;
}

.link.highlight {
  stroke: #f30 !important;
  opacity: 1 !important;
}
.link.select {
  stroke: #f30 !important;
  opacity: 1 !important;
}
#chart:hover .fade {
  opacity: .1;
}

#d3-chart-interaction .chord, #d3-chart-interaction .user {
  transition: opacity .5s ease;
}
#d3-chart-interaction:hover .fade {
  opacity: .1 !important;
}
/******************/
/* Elementos HTML */
/******************/
#switch.AND:before {
  content: "TODOS";
}
#switch.OR:before {
  content: "ALGUNO";
}
.expandable {
  margin: 0;
  background-color: rgba(255,255,255,1);
  overflow-y: scroll;
  max-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  border-right: 1px solid #ccc;
  overflow-x: hidden;
  box-shadow: 0 0 15px rgba(100,100,100,.5);
  transition: width .5s ease; 
}
#chart-messages {
  width: 300px;
  left: 150px;
}

#chart-messages .msg-container {
  display: table-cell;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  vertical-align: top;
  position: relative;
}
#chart-messages .msg-container .handle {
  width: 100%;
  padding: 4px 0;
  border-top: 1px solid #fff;
}
#chart-messages.on .msg-container .handle {
  border: 1px solid #fff;
  border-bottom:  none;
}
#chart-messages .children-container {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#chart-messages .message {
  border: 0;
  max-width: 500px;
}
#chart-messages.on .message {
  margin-left: auto;
  margin-right: auto;
}
#chart-messages .message .reply2link, #chart-messages .message .thlink {
  display: none;
}
#chart-messages .current > .message {
  background-color: #eee;
}
#chart-messages .msg-container .msg-container.on:before {
  display: block;
  content: "\00D7";
  background-color: #000;
  color: #fff;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  position: absolute;
  right: -1px;
  top: 0;
  text-align: center;
}
.message-detail {
  position: absolute !important;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: rgba(255,255,255,.9);
}
.message-detail .message {
  background-color: #fff;
  width: 400px;
  margin: 0;
  border: none;
  box-shadow: none;
  background: none;
}
.message-detail .close{
  position: absolute;
  right: 5px;
  top: 5px;
  color: #ccc;
}
.interaction-tooltip {
  width: 300px;
  font-size: 10px;
  color: #666;
}
.interaction-tooltip:before {
  display: block;
  content: "EN ESTA SELECCIÓN:";
  font-weight: bold;
}
.interaction-tooltip h2 {
  font-size: 10px;
  font-weight: normal;
  margin: 3px 0;
}
.interaction-tooltip ul {
  padding: 0 10px;
  margin: 0;
  list-style: none;
}

#chart-control {
  width: 150px;
  left:  0;
}
h2.redtitle {
  color: #fff;
  background-color: #f30;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  display: block;
  font-weight: bold;
  position: relative;
}
.expandable .expand {
  position: absolute;
  background-color: #000;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
}
.expandable p {
  color: #666;
  font-size: 10px;
  padding: 0 10px;
}
.expandable.on .expand:before {
  -webkit-transform: rotate(180deg);
}

.expandable > div {
  padding: 0 10px;
}
.expandable h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  margin: 5px 0;
  /* border-bottom: 2px solid #ccc; */
}
#chart-control .item {
  color: #aaa;
  list-style: none;
  white-space: nowrap;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}
#chart-control .item span {
  display: inline-block;
  margin-right: 3px;
}
#conversation .check.on {
  color: #000;
}

#conversation .check {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#conversation .check:before {
  display: inline-block;
  background-color: #ccc;
  width: 16px;
  height: 10px;
  content:  " ";
  margin-right: 3px;
  border-radius: 2px;
  border-top:  1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#conversation .check:after {
  display: block;
  position: absolute;
  left: 2px;
  top: 3px;
  width: 8px;
  height: 8px;
  content: " ";
  background-color: #000;
  border-radius: 2px;
  transition: left .2s ease;
}
#conversation .check.on:before {
  background-color: #fff;
}
#conversation .on.check:after {
  left: 8px;
  background-color: #f30;
}

#check-all-users {
  margin-left: 5px;
  vertical-align: middle;
}

.users-list input[type="color"] {
  opacity: 0;
}

.users-list .nickname {
  width: 115px;
}
.users-list .color-picker {
  width: 10px;
  height: 10px;
  padding: 0;
  overflow: hidden;
  border-radius: 200px;
  padding: 0;
}
.users-list .nmessages {
  width: 75px;
  text-align: center;
}
.users-list .ndeleted {
  width: 75px;
  text-align: center;
}
.users-list .nwords {
  width: 80px;
  text-align: center;
}
.users-list .nreplies {
  width: 80px;
  text-align: center;
}
.expandable .list {
  max-height: 180px;
  overflow-y:scroll;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.expandable .list-head {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 5px 0 rgba(100,100,100,.2);
}

.expandable .list-head span {
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

.expandable .list-head span:hover {
  color: #000;
}
.expandable .list-head span:before {
  font-weight: normal;
  margin-left: 2px;
}

/* palabras */
.words-list .word {
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;   
  white-space: nowrap;   
  text-overflow: ellipsis;
}
.words-list .word:hover, #words-list .word:hover:before {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.words-list .list {
  counter-reset: nwords;
}
.words-list li:before {
  content: counter(nwords, decimal-leading-zero);
  font-size: 8px;
  counter-increment: nwords;
  /* background-color: #aaa; */
  padding: 2px;
  /* color: #666; */
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
.words-list li.on:before, .words-list li.on:hover:before {
  background-color: #f30;
  color:  #fff;
}
.on .words-list .list {
  -webkit-column-count: 5;
  -webkit-column-rule: 1px solid #ccc;
  overflow: hidden;
}

.images-list img {
  height: 100px;
  margin-right: 5px;
  float: left;
  margin-top: 5px;
}

#chart-filter {
  left: 150px;
  width: 150px;
}

/* Diagramas de frecuencia */
#d3-frequency {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 449px;
  height: 200px;
}
#d3-frequency h2 {
  margin: 5px;
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

/* OPciones de visualización */
#chart-options {
  position: absolute;
  margin: 10px;
  right: 0;
  top: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(255,255,255,.9);
  font-size: 12px;
  color:  #666;
  box-shadow: 0 1px 2px #d9d9d9;
  opacity: .3;
  transition: opacity .25s ease;
}
#chart-options:hover {
  opacity: 1;
}
.options {
  margin-top: 5px;
  height: 0;
  overflow: hidden;
  transition: height .25s linear;
}
.options.active {
  height: 20px;
}
.layout, .option {
  display: inline-block;
  overflow: hidden;
}
.option {
    vertical-align: middle;
}

#conversation .radio {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
#conversation .radio:not(:first-child) {
  margin-left: 10px;
}
#conversation .radio:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  content: " ";
  border-radius: 50px;
}
#conversation .radio:after {
  display: block;
  position: absolute;
  content: " ";
  background-color: #f30;
  width: 9px;
  height: 9px;
  left: 4px;
  top: 4px;
  border-radius: 50px;
  opacity: 0;
  transition: opacity .2s ease;
}
#conversation .radio.on:after {
  opacity: 1;
}
