.modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 1000;
}
.dlg {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background-color: #fff;
	margin-top: 100px;
	padding: 10px;
	border: 1px solid #fff;
	color: #666;
	box-shadow: -3px 2px 8px 0px rgba(50, 50, 50, 0.75);
}
.dlg_msg {
	font-size: 16px;
	color:  black;
}
.dlg_extra {
	margin-top: 10px;
	max-height: 300px;
	overflow-y: scroll;
}
.dlg .btn {
	display: inline-block;
	background-color: #666;
	color: white;
	min-width: 50px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
	padding: 9px;
	font-size: 12px;
	text-transform: uppercase;
}

.dlg .btn:hover {
	background-color: #000;
}

#progress {
	position: absolute;
	top: 200px;
	left: 200px;
	right: auto;
	border: 1px solid black;
	width: 200px;
	height: 10px;
	z-index: 100;
	background-color: white;
	display: none;
}
#progress-status {
	background-color: orange;
	float: left;
	width: 20%;
	height: 10px;
}

/* Lista de enlaces para inserción */
.links-list {
	padding-right: 10px;
}
.links-list ul {
	padding: 0;
	margin: 0;
}
.links-list ul:before {
	display: block;
	padding: 5px;
	font-size: 12px;
	background-color: #1e5070;
	color: #fff;
}
.links-list ul.current:before {
	content: "Enlace a la pestaña actual";
}
.links-list ul.other:before {
	content: "Enlaces a otras pestañas:"
}
.links-list li {
	font-size: 12px;
	cursor: pointer;
	background-color: #fff;
	padding: 2px;
	margin-bottom: 3px;
	border: 1px solid #ddd;
}
.links-list li:hover {
	background-color: #f30;
	color:#fff;
}
.links-list li span {
	padding: 2px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.link-title {
	margin-left: 15px;
	color: #f30;
}
.links-list li:hover .link-title {
	color:#fff;
}
.link-url {
	padding-left: 10px;
}
.link-url:before {
	margin-right: 5px;
}

/* Selector de imágenes */
.images-selector h2 {
	font-size: 14px;
}

.images-selector img {
	height: 100px;
	float: left;
	margin: 5px;
	cursor: pointer;
	border: 2px solid #fff;
}
.images-selector img.on {
	border-color: #f30;
	box-shadow: 0 1px 8px 0px rgba(255, 51, 0, .7);
}
.images-selector img.small {
	display: none;
}
.images-selector img:not(.on):hover {
	outline: 2px solid #f30;
}

/* Spinner de carga */
.spinner {
    text-align: center;
	color: #f30;
    width: 100%;
    font-size: 30px;
}

/* Barra de progreso */
.loading-bar {
	background-color: #f5f5f5;
	border: 1px solid #eee;
}

.loading-progress {
	background-color: #f30;
	height: 10px;
	width: 50%;
}