#editor-title {
    font-size: 14px;
	
    font-weight: bold;
    margin: 5px 10px;
}
#editor {
	height: 300px;
	overflow-y: scroll;
	position: relative;
	background-color: #fff;
	-webkit-user-select: none;
	cursor: default;
}

#commands {
	position: absolute;
	left: 0;
	top: 25px;
	width: 80px;
	padding: 10px;
}

#toolbar {
	position: absolute;
	top: 0;
	left: 100px;
	padding: 2px;
}

#newmessage-container {
	position: absolute;
	left: 100px;
	top: 35px;
	border: 1px solid #eee;
	height: 130px;
	right: 8px;
}
#newmessage {
	outline: none;
	height: 110px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	cursor: text;
}

#newimage {
	margin: 5px;
	padding: 5px;
	border: 1px solid #eee;
	float: right;
	position: relative;
	display: none;
	background-color: #eee;
}
#newimage.loaded {
	display: block;
}

#canvasimage {
	max-width: 120px;
	max-height: 100px;
}

#removeimage {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	cursor: pointer;
	background-color: #ddd;
	padding: 4px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	text-align: center;
	color: #666;
}
#removeimage:hover {
	background-color: #ccc;
}
#removeimage:active {
	background-color: #666;
	color: #fff;
}

#removeimage:before {
	
	font-size: 20px;
	cursor: pointer;
	display: inline;
}

#newimage:hover #removeimage {
	display: block;
}
#newimage:hover canvas {
	opacity: .7;
}

#counter {
	font-size: 24px;
	font-weight: 600;
	border: 1px solid #eee;
	text-align: center;
	height: 50px;
	background-color: #fff;
	-webkit-transition: color .5s linear;
	   -moz-transition: color .5s linear;
	    -ms-transition: color .5s linear;
	     -o-transition: color .5s linear;
	        transition: color .5s linear;
}
#counter.warning1 {
	color: #ff7728;
}
#counter.warning2 {
	color: #ff1815;
}
#counter:after {
	font-weight: 200;
	content: "caracteres";
	font-size: 12px;
	display: block;
	color: #666;
}

#commands a {
	color: #fff;
	text-decoration: none;
}

#send, #cancel {
	color: white;
	cursor: pointer;
	margin-top: 7px;
	padding: 7px 5px;
	text-align: center;
	font-size: 12px;
}
#send {
	background-color: #f30;
	display: block;
}
#send:before {
	margin-right: 10px;
}
#cancel {
	background-color: #1e5070;
}
#commands #send:hover, #commands #cancel:hover {
	background-color: #000;
}

#toolbar button {
	font-size: 14px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	outline: none;
	color: #000;
	cursor: pointer;
	border: none;
	transition: all .2s ease;
}
#toolbar button:hover {
	background-color: #000;
	color: #fff;
}

#destinations {
	position: absolute;
	left: 0;
	top: 170px;
	font-size: 12px;
	padding: 10px;
	right: 0;
}

#destinations:before {
	margin-left: 90px;
	margin-bottom: 5px;
	display: block;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity .5s linear;
	border: 1px solid #ddd;
	padding: 2px;
	border-radius: 3px;
	color: #666;
	background-color: rgba(200,50,50,.1)
}

#editor.is-public #send2user {
	height: 0;
	overflow: hidden;
}
#editor.is-private #send2theme {
	height: 0;
	overflow: hidden;
}
#editor.is-public #destinations:before {
	opacity: 1;
	height: auto;
	content: "Mensaje público en los siguientes temas:";
}
#editor.is-private #destinations:before {
	opacity: 1;
	height: auto;
	content: "Mensaje privado para los siguientes usuarios:";
}

.send2 {
	margin-bottom: 10px;
	clear: both;
}
.send2:after {
	height: 0;
	clear: both;
	content: " ";
	display: block;
}
.send2 h2 {
	font-size: 13px;
	font-weight: lighter;
	float: left;
	width: 80px;
	text-align: right;
	margin: 0;
}
.send2 .finder-widget-container {
	margin-left: 90px;
}

.send2 ul {
	padding: 0;
	margin: 0;
}
.send2 ul.linear > li {
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 2px;
}
.send2 ul.linear > li.tag {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #eee;
	max-width: 100px;
	margin-right: 2px;
	padding: 1px 3px;
	cursor: default;
	border: 1px solid #ccc;
	font-size: 11px;
	border-radius: 2px;
	margin-bottom: 2px;
}
.send2 ul.linear > li:not(.finder) {
	background-color: #eee;
	padding: 2px 2px;
	font-size: 11px;
	border-radius: 2px;
	max-width: 100px;
	white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;
}

.send2 .del {
	margin-right: 2px;
	cursor: pointer;
	color: #666;
}
.send2 .del:hover {
	color:#000;
}

#NOsend2theme {
	display: none;
	color: #aaa;
}

#NOsend2theme ul {
	display: inline;
}

#NOsend2theme li {
	display: inline;
	font-weight: bold;
}
#NOsend2theme li:after {
	content: ", ";
}

/* Enviar a redes sociales */
#send2social {
	position: absolute;
	right: 9px;
	top: 10px;
	font-size: 13px;
	display: none;
}
#send2social:before {
	content: "Enviar también a: ";
}
#send2social input {
	display: none;
}
#send2social label {	
	font-size: 16px;
	padding: 3px;
	cursor: pointer;
	background-color: #ccc;
	width: 14px;
	height: 14px;
	color: #fff;
	text-align: center;
	transition: background-color .2s ease;
}
#send2social input:checked + .facebook {
	background-color: #3B5999;

}
#send2social input:checked + .twitter {
	background-color: #55acee;
}

#search-user {
	display: inline;
}
#search-theme {
	display:inline;
}

/* El widget de búsquedas */
.finder {
	position: relative;
}
.finder input {
	outline: none;
	width: 45px;
	transition: width .2s .5s ease;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 2px 3px;
	margin: 0;
}
.finder input:focus {
	width: 130px;
}
.finder .finder-title {
	background-color: #ccc;
	padding: 5px;
	font-weight: 100;
	font-size: 10px;
	border-bottom: 2px solid #aaa;
}
.finder .finder-title .close {
	float: right;
	cursor: pointer;
}
.finder .finder-title .close:hover {
	color: #000;
}
.finder .finder-list {
	position: absolute;
	left: 0;
	bottom: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	display: none;
	width: 136px;
	box-shadow: 2px 2px 3px 1px #aaa;
}
.finder .finder-list ul {
	padding: 0;
	list-style: none;
	max-height: 150px;
	overflow-y: auto;
}

.finder .finder-list ul img {
	height: 25px;
	float: left;
	margin: 4px;
}

.finder li {
	border-bottom: 1px solid #ccc;
	clear: both;
	height: 34px;
	color: #666;
	cursor: pointer;
}
.finder li:last-child {
	border-bottom: none;
}
.finder li.on {
	background-color: #f30;
	color: #fff;
}

.finder li.no-result {
	padding: 5px;
	height: 20px;
	background-color: #f30;
	color: #fff;
}

.finder span {
	display: block;
	float: right;
	width: 75px;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-top: 2px;
}

#send2user .finder span.nickname:before {
	content: "@";
}
#send2theme .finder span.nickname {
	display: none;
}

/* el mensaje que se está contestando */
#replying-message {
    border-bottom: 1px dotted #ccc;
    max-height: 150px;
    overflow-y: auto;
}
#replying-message .msg_control {
    display: none;
}
#replying-message .msg_content img {
    max-width: 150px;
}
#replying-message .msg_content {
	font-size: 12px;
}
#replying-message .msg_header {
	display: none;
}
