@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.mycheckbox {
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	border: 1px solid #000;
	width: 22px;
	height: 16px;
	background-color: #ddd;
	position: relative;
	border-radius
}
.mycheckbox:checked {
	background-color: #bbb;
}
.mycheckbox:before {
	display: block;
	width: 10px;
	height: 10px;
	content: " ";
	position: absolute;
	transition: left .2s linear;
	top: 2px;
}
.mycheckbox:not(:checked):before{
	background-color: #666;
	left: 2px;
}
.mycheckbox:checked:before {
	background-color: #000;
	left: 8px;
}

h1 {
	font-size: 14px;
	color: white;
	cursor: pointer;
}
h1 {
	/* border-bottom: 1px solid #000; */
}
h1 + div {
	height: 0;
	overflow: hidden;
	/* border-bottom: 1px solid black; */
	-webkit-transition: height .5s ease;
}
h2 {
	font-size: 12px;
	color: white;
}

h1.on + div {
	height: 300px;
	overflow: auto;
}


.canvas-container {
	float: left;
}
#selector-editor {
	width: 1200px;
	/* margin-top: 200px; */
	margin-left: 5px;
}

#canvas-editor {
	outline: 5px dotted #015965;
}
#canvas-controls{
	float: left;
	width: 500px;
	height: 600px;
	overflow: hidden;
	background-color: #f30;
	color: #fff;
	padding: 5px;
	
	margin-left: 10px;
	position: relative;
}
#canvas-controls .panel {
	clear: both;
}
#canvas-controls .panel:not(:first-child) {
	border-top: 1px solid #fff;
}
#canvas-controls input[type='range'] {
	height: 5px;
	-webkit-appearance: none;
	padding-left:2px; 
	padding-right:2px;
	-webkit-border-radius: 3px;
	background-color: #ccc;
}
#canvas-controls input[type='range']:focus {
	outline: none;
}
#canvas-controls input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #ccc;
	height: 8px;
	width: 8px;
	border-radius: 1px;
	background: #666;
	cursor: pointer;
}
#canvas-controls input[type='file'] {
	-webkit-appearance: none;
	overflow: hidden;
	width: 0;
	height: 0;
}

.options-modal-back {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	opacity: 0;
	transition: opacity .2s;
	pointer-events: none;
}

.options-modal-back.on {
	opacity: 1;
	pointer-events: auto;
	
}
.options-modal {
	background-color: #fff;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	min-height: 100px;
	-webkit-box-shadow: 10px 10px 50px 5px rgba(0,0,0,0.75);
	color: #666;
}
.options-title {
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.options-title i {
	float: right;
	cursor: pointer;
}
.options-title i:hover {
	color: #ccc;
}
.options-title i:active {
	color: #000;
}
.options-content {
	padding: 10px;
}

input[type=color] {
	border: 0px transparent;
	padding: 0;
	background-color: transparent;
	width: 30px;
	height: 25px;
	cursor: pointer;
	outline: none;
}

form.expandable {
	font-size: 10px;
	display: inline-block;
	background-color: #666;
	padding: 3px;
	border-radius: 5px;
}
form.expandable input[type=text] {
	border: 0;
	padding: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	width: 100px;
	transition: width .25s;
	margin-right: 0;
}
form.expandable input:focus {
	width: 150px;
	outline: none;
}
form.expandable input[type=submit] {
	border: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
}

#canvas-layers .item {
	cursor: pointer;
	padding-bottom: 5px;
	height: auto;
	-webkit-transition: all .2s ease;
	position: relative;
}
#canvas-layers .item div {
	background-color: white;
	height: 42px;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#canvas-layers .item.hover {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 10px solid red;
}

#canvas-layers .item img {
	max-height: 40px;
	margin: 2px;
	position: absolute;
	top: 0;
	right: 0;
}
#canvas-history img {
	margin: 5px;
}
#canvas-history img:hover {
	cursor: pointer;
	outline: 1px solid red;
}


/* El selector de imágenes */
.images-selector .content-normal {
	margin-top: 5px;
	background-color: #fff;
	padding: 5px;
	border-radius: 3px;
	max-height: 200px;
	overflow-y: auto;
	/* position: relative; */
}
.images-selector .content-normal:before {
	content: "Imágenes encontradas:";
	display: block;
	color: #000;
	margin-bottom: 3px;
	/* position: absolute; */
	background-color:  #fff;
	/* width: 100%; */
	/* right: 0; */
	/* left: 0; */
}
.images-selector img {
	height: 60px;
	margin-right: 5px;
}
.images-selector img:hover {
	outline: 2px solid #f30;
}
#selector-items {
	overflow: auto;
	padding: 10px;
}
#selector-items .item {
	margin-bottom: 5px;
}
/* Fin del selector de imágenes */

#draw-options {
	-webkit-transition: all .5s ease;
	overflow: hidden;
}
#canvas-text + div {
	-webkit-transition: all .5s ease;
	overflow: hidden;
	height: 0;
	opacity: 0;
}
#canvas-text.on + div {
	height: auto;
	opacity: 1;
}



#masonry-container {
	display: none;
	width: 600px;
	height: 600px;
}

.btn {
	font-size: 12px;
	background-color: #000;
	padding: 3px;
	color: white;
	border-radius: 5px;
	cursor:pointer;
	border: none;
}
.btn:hover {
	background-color: #454545;
}
.btn:active {
	background-color: #ddd;
	color: #000;
}
.shape.btn {
	min-width: 30px;
	height: 30px;
	float: left;

	margin-right: 5px;
}
.shapes-buttons {

}

.text.btn {
	width: 20px;
	height: 20px;
}

.btn.on {
	min-width: 35px;
	min-height: 35px;
	font-size: 1.2em;
	background-color: #FF7A00;
	color: white;
}
#canvas-rect {
	background-image: url("/img/icons/square.png");
	background-repeat:  no-repeat;
}
#canvas-circle {
	background-image: url("/icon/circle.png");
	background-repeat:  no-repeat;
}
#canvas-triangle {
	background-image: url("/icon/triangle.png");
	background-repeat:  no-repeat;
}
#clips-loader {
	display: none;
}


/* Opciones de textp */
#text-options {
	width: 100%;
	clear: both;
	padding: 5px 0;
}
#canvas-text-value {
	width: 100%;
	outline: none;
	margin-top: 5px;
}

/* Fin opciones de textp */

/* Opciones de filtrado */
#filters:before {
	display: block;
	content: "Filtros de imagen";
	border-bottom: 1px dotted #666;
	margin-bottom: 3px;
	margin-top: 10px;
}
#filters_custom label {
	display: inline-block;
	width: 65px;
}

#filters_custom input[type=range] {
	
}
#filters_custom {
	width: 220px;
	float: left;
}
#filters_preset {
	
}
#filters_preset input[type=button] {
	width: 60px;
	height: 50px;
	margin-bottom: 3px;
	font-size: 10px;
}

/* Guardado y recuperación de dibujos */
#saved-canvas {
	background-color: #fff;	
	color: #333;
}
#saved-canvas img {
	outline: 1px solid #ddd;
}
/* Find de guardado y recuperación de dibujos */